a(href='').ui.button 投影片
a(href='').ui.button 課本
a(href='').ui.button 教師手冊
a(href='').ui.button 學習單
a(href='').ui.button 歌單
a(href='').ui.button 教案
a(href='').ui.icon.right.labeled.button 下載
  i.icon.download
