extends level-one

block title
  | 下載 | 

block content

  #content
    section#download

      .horizontal.wrapper


block script
  script.
    $("#topbar .icon.download").parent(".item").addClass("active");
