extends level-one

block title
  | 下載 | 

block content

  #content
    section#download

      header#header
        .page.wrapper
          p.header (本週熱門下載 / 裝飾圖片)

      .page.wrapper


block script
  script.
    $("#topbar .icon.download").parent(".item").addClass("active");
