extends level-one

block title
  | 課程 | 

block content

  #content

    section#lesson

      header#header
        .page.wrapper
          p.header (本週熱門單元 / 裝飾圖片)

      .page.wrapper
        .ui.segment
          .ui.top.attached.label.teal
            h3
              span.title 五年級（第一冊）
              span.float.right
                .ui.icon.right.labeled.button.compact.basic.black 下載電子書
                  i.icon.down.chevron
          .placeholder
          .download.section.hidden
            .ui.icon.right.labeled.compact.button.red epub
              i.icon.download
            .ui.icon.right.labeled.compact.button.red mobi
              i.icon.download
            .ui.icon.right.labeled.compact.button.red pdf
              i.icon.download
          .ui.two.column.stackable.grid.divided
            .column
              h3
                .ui.tiny.horizontal.label.black 第一單元
                | 爺爺奶奶的流行歌
              .ui.divided.list
                .item
                  a(href="book.html")
                    .ui.tiny.horizontal.label 第一課
                    | 什麼是流行音樂
                  include book-menu-link
                .item
                  a(href="book.html")
                    .ui.tiny.horizontal.label 第二課
                    | 時光機器教流行歌
                  include book-menu-link
                .item
                  a(href="book.html")
                    .ui.tiny.horizontal.label 第三課
                    | 唱爺爺奶奶的流行歌
                  include book-menu-link
            .column
              h3
                .ui.tiny.horizontal.label.black 第二單元
                | 民歌與創作
              .ui.divided.list
                .item
                  a(href="book.html")
                    .ui.tiny.horizontal.label 第一課
                    | 民歌的開始
                  include book-menu-link
                .item
                  a(href="book.html")
                    .ui.tiny.horizontal.label 第二課
                    | 練唱民歌
                  include book-menu-link
                .item
                  a(href="book.html")
                    .ui.tiny.horizontal.label 第三課
                    | 音樂創作、音樂消費及著作權
                  include book-menu-link
        .ui.segment
          .ui.top.attached.label.green
            h3
              span.title 六年級（第二冊）
              span.float.right
                .ui.icon.right.labeled.button.compact.basic.black 下載電子書
                  i.icon.down.chevron
          .placeholder
          .download.section.hidden
            .ui.icon.right.labeled.compact.button.red epub
              i.icon.download
            .ui.icon.right.labeled.compact.button.red mobi
              i.icon.download
            .ui.icon.right.labeled.compact.button.red pdf
              i.icon.download
          .ui.two.column.stackable.grid.divided
            .column
              h3
                .ui.tiny.horizontal.label.black 第三單元
                | 抒情歌和搖滾
              .ui.divided.list
                .item
                  a(href="book.html")
                    .ui.tiny.horizontal.label 第一課
                    | 歌詞動人的抒情歌
                  include book-menu-link
                .item
                  a(href="book.html")
                    .ui.tiny.horizontal.label 第二課
                    | 旋律動人的抒情歌
                  include book-menu-link
                .item
                  a(href="book.html")
                    .ui.tiny.horizontal.label 第三課
                    | 躍動的搖滾
                  include book-menu-link
            .column
              h3
                .ui.tiny.horizontal.label.black 第四單元
                | 饒舌、電音和流行音樂產業
              .ui.divided.list
                .item
                  a(href="book.html")
                    .ui.tiny.horizontal.label 第一課
                    | 饒舌歌
                  include book-menu-link
                .item
                  a(href="book.html")
                    .ui.tiny.horizontal.label 第二課
                    | 電子舞曲
                  include book-menu-link
                .item
                  a(href="book.html")
                    .ui.tiny.horizontal.label 第三課
                    | 流行音樂產業的表演和製作
                  include book-menu-link

block script
  script.
    $("#topbar .icon.book").parent(".item").addClass("active");
    $(".ui.top.attached.label .down.chevron").parent(".button").on("click tap", function(){
      $(this).parents(".ui.segment").find(".download.section").slideToggle();
    });
    $('.popup').popup();
