extends level-one

block title
  | 新聞 | 

block content

  .horizontal.wrapper
    .vertical.wrapper
      #content

        section#news



block script
  script.
    $("#topbar .icon.announcement").parent(".item").addClass("active");
