extends level-one

block title
  | 新聞 | 

block content

  #content

    section#news

      header#header
        .page.wrapper
          p.header (本週熱門新聞 / 裝飾圖片)

      .page.wrapper


block script
  script.
    $("#topbar .icon.announcement").parent(".item").addClass("active");
