@charset "UTF-8";
html {
  font-family: "Noto Sans", "Noto Sans T Chinese", "微軟正黑體", sans-serif;
  color: #333333;
}

html, body, div, nav, section, article, header, footer {
  font-size: 20px;
}

html, body, div, nav, section, article, header, footer, h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
  line-height: 1em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  background-color: #efefef;
}

p {
  line-height: 1.5em;
}

a, a:link {
  text-decoration: none;
  color: inherit;
}

.hidden {
  display: none;
}

.no.margin {
  margin: 0;
}

.float.right {
  float: right;
}

.align.center {
  text-align: center;
}

.clear.both {
  clear: both;
}

.horizontal.wrapper {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.menu.bar {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.vertical.wrapper {
  margin-bottom: 3rem;
}

#topbar {
  background-color: #333333;
}
#topbar .ui.menu {
  margin-bottom: 0;
}
#topbar .ui.menu .item {
  font-size: 1rem;
}
#topbar .ui.menu .logo.image {
  height: 1rem;
  display: inline;
}

#content {
  padding: 1rem;
}

#bottombar {
  background-color: #333333;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}

#lesson .description {
  max-width: 100%;
}

#header {
  margin: 0 -1rem 1rem -1rem;
  background-color: rgba(51, 102, 153, 0.2);
  padding: 0 1rem;
}
#header #title {
  padding: 1rem 1rem 0 1rem;
}
